{% include 'admin_header.html'%}



 <div class="testimonials parallax-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="flexslider testislider">
                            <ul class="slides">
                                <li>
                                    <div class="slide-items">
<!--                                         <img src="/static/images/team-1.jpg" alt="">
 -->                                      
                            
                            <br><br><br><br>
<form method="post">
<center>




    {% if data['updatelan']%}
 <h1 style="color: white"> Update Add Language</h1>
    
    <table class="table" style="width: 600px ;color: white">
        <tr>
            <th>Language</th>
            <td><input type="text" required="" class="form-control" name="l"value="{{data['updatelan'][0]['language']}}"></td>
        </tr>
      
        <tr>
            <td colspan="2" align="center"><input type="submit" class="btn btn-success" name="update" value="UPDATE"></td>
        </tr>

    </table>
    {%else%}
        <h1 style="color: white">Add Language</h1>
    
    <table class="table" style="width: 600px ;color: white">
       
        <tr>
            <th>Language</th>
            <td><input type="text" required="" class="form-control" name="l"></td>
        </tr>
       
        <tr>
            <td colspan="2" align="center"><input type="submit" class="btn btn-success" name="add" value="ADD"></td>
        </tr>

    </table>
    {%endif%}
    
    </center>
</form>





</div>
                                </li>
                               
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--testimonials-->

              <div class="container" style="margin-top: 2em;margin-bottom: 2em">
                <center>
                  <h1 style="color: #000">View Language</h1>
    <table class="table" style="width: 1800px;color: #000 !important">
        <tr>
            <th>Language_id</th>
            <th>Language</th>
            <th>Status</th>

        </tr>
        {% for row in data['lan']%}
        <tr>
            <td>Language{{row['language_id']}}</td>
        <td>{{row['language']}}</td>
<td><a class="btn btn-warning" href="?action=update&lid={{row['language_id']}}">update</a></td> 

{%if row['lstatus']=="active"%}
        <td><a class="btn btn-danger" href="?action=active&lid={{row['language_id']}}">active</a></td>
{%elif row['lstatus']=="inactive"%}
<td><a class="btn btn-info" href="?action=inactive&lid={{row['language_id']}}">inactive</a></td> 
{%else%}
<td>{{row['lstatus']}}</td>
{%endif%}


        
    </tr>  
      {%endfor%}

    </table></center>
              </div>              
                

{% include 'footer.html'%}
