{% include 'public_header.html' %}

 <div class="testimonials parallax-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="flexslider testislider">
                            <ul class="slides">
                                <li>
                                    <div class="slide-items">
                <h2 style="color: white"> OTP</h2>

<form method="post">
	<center>
		<h2></h2>
		<table class="table" style="width: 500px;color: white">
			<tr>
				<th>OTP</th>
				<td><input type="text" name="otp" required="" class="form-control"></td>
			</tr>
			
			<tr>
				<td align="center" colspan="2"><input type="submit" name="otp" value="send" class="btn btn-success"></td>
			</tr>
			
		</table>
	</center>
</form>


                                    </div></li></ul></div></div></div></div></div>



{% include 'footer.html' %}