{% include 'public_header.html' %}

 <div class="testimonials parallax-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="flexslider testislider">
                            <ul class="slides">
                                <li>
                                    <div class="slide-items">
                                      
<form method="post">

<center>
                  <h2 class="animate__animated animate__fadeInDown" style="color: white">Set New Password</h2>

<table class="table" style="width: auto;color: white" class="animate__animated animate__fadeInDown">
 <table class="table" style="width: 600px;color: white">
    <tr>
      <th>New Password</th>
      <td><input type="text" name="new_pas" class="form-control"></td>
    </tr>
     <tr>
      <th>Conform Password</th>
      <td><input type="text" name="con_pas" class="form-control"></td>
    </tr>
    <tr>
      <td align="center" colspan="2"><input type="submit" name="conform" value="confirm" class="btn btn-success"></td>
    </tr>
  </table>
</center>
    </form>                
                                    </div></li></ul></div></div></div></div></div>


          
{% include 'footer.html'%}

