{% include 'staffheader.html'%}



 <div class="testimonials parallax-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="flexslider testislider">
                            <ul class="slides">
                                <li>
                                    <div class="slide-items">
<!--                                         <img src="/static/images/team-1.jpg" alt="">
 -->                                      
                            
                            <br><br><br><br>
<form method="post">
<center>




        <h1 style="color: white">Select Return Date</h1>
    
    <table class="table" style="width: 600px ;color: white">
       
        <tr>
            <th>Return Date</th>
            <td><input type="date" required="" class="form-control" name="rd"></td>
        </tr>
       
        <tr>
            <td colspan="2" align="center"><input type="submit" class="btn btn-success" name="add" value="ADD"></td>
        </tr>

    </table>
  
    </center>
</form>





</div>
                                </li>
                               
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--testimonials-->


{% include 'footer.html'%}
